@model QLESS.Web.UI.ViewModels.TransportCardViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><h4> @Model.Entity.RAWSMARTCARD.SmartCardName </h4></li>
    <li class="list-group-item"> Load:  @Html.DisplayFor(model => model.Entity.LoadBalance)</li>
    <li class="list-group-item"> LastUsed:  @Html.DisplayFor(model => model.CardTransaction.PostingDate)</li>
    <li class="list-group-item"> LastTrip: @Model.TrainStation.TrainStationCode</li>
    <li class="list-group-item">
        <form asp-route-id="@Model.Entity.TransportCardID" method="post">
            <a class="btn btn-outline-primary asp-controller="TransportCards" asp-action="AddTrip" asp-route-id="@Model.Entity.TransportCardID">
                <i class="fas fa-info-circle"></i>ADD TRIP SAME DAY
            </a>
        </form>
    </li>
</ul>
<hr />


<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="table-responsive border border-dark">
    <table class="table align-middle table-sm">
        <thead>
            <tr>
                <th>
                    Trip Date
                </th>
                <th style="text-align: right; font-family:monospace;">
                    Charged
                </th>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransportCardTripsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransportCardTripDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountTripCharge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginStationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationStationCode)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
