@model QLESS.Web.UI.ViewModels.TransportCardViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><h4>@Model.Entity.RAWSMARTCARD.SmartCardName </h4></li>
    <li class="list-group-item"><p class="text_theme_orange">@Html.DisplayFor(model => model.Entity.LoadBalance)</p></li>
    <li class="list-group-item">LastUsed:  @Html.DisplayFor(model => model.CardTransaction.PostingDate)</li>
    <li class="list-group-item">
        <form asp-route-id="@Model.Entity.TransportCardID" method="post">
            <a class="btn btn-sm btn-outline-primary asp-controller="TransportCards" asp-action="AddTrip" asp-route-id="@Model.Entity.TransportCardID">ADD TRIP SAME DAY</a>
        </form>
    </li>
</ul>
<hr />

<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="table-responsive border border-dark">
    <table class="table align-middle table-sm">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th style="text-align: right; font-family:monospace;">
                    Available
                </th>
                <th style="text-align: right; font-family:monospace;">
                    Charge
                </th>
                <th style="text-align: right; font-family:monospace;">
                    Discount
                </th>
                <th style="text-align: right; font-family:monospace;">
                    Running Balance
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransportCardTripsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransportCardTripDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginStationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationStationCode)
                    </td>
                    <td class="text_theme_orange" scope="row" style="text-align: right; font-family:monospace;">
                        @Html.DisplayFor(modelItem => item.CurrentBalance)
                    </td>
                    <td class="text_theme_orange" scope="row" style="text-align: right; font-family:monospace;">
                        @Html.DisplayFor(modelItem => item.AmountTripCharge)
                    </td>
                    <td class="text_theme_orange" scope="row" style="text-align: right; font-family:monospace;">
                        @Html.DisplayFor(modelItem => item.AmountDiscounted)
                    </td>
                    <td class="text_theme_orange" scope="row" style="text-align: right; font-family:monospace;">
                        @Html.DisplayFor(modelItem => item.RunningBalance)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
